body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CBF1F7;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

.logo img {
    height: 100px;
}
.logo2 img {
    height: 200px;
}
/* SECCION 1 */
.seccion1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.image {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.seccion1 img {
    max-width: 100%;
    height: 600px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
    flex: 1;
    padding: 0 20px;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
}
.buy-btn{
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px;
    font-size: 18px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}
.subtitulo2 {
    text-align: center;
}

.border1 {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.border1:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* SECCION 2 NOTICIAS DE LA SEMANA*/
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 100%;
    height: 200px;
    display: block;
    transition: transform 0.3s ease;
}

.box:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    opacity: 0;
}

.box:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.overlay p {
    font-size: 14px;
    line-height: 1.6;
}
/* SECCION 3 SERVICIO*/
.services-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.service-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.service-card img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn2{
    display: inline-block;
    background-color: #077fff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn2:hover {
    background-color: #0056b3;
}
/* SECCION 4 - PRODUCTOS */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    height: 250px;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product h2 {
    margin-top: 0;
}

.price {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

.buy-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #0056b3;
}
/* FOOTER*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info, .social-media {
    flex: 1;
}

.contact-info h3, .social-media h3 {
    margin-top: 0;
}

.contact-info p {
    margin-bottom: 10px;
}

.social-media ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media ul li {
    margin: 0 10px;
}

.social-media ul li a img {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-media ul li a img:hover {
    transform: scale(1.2); 
}
/* SECCION 5 CONTACTO*/
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contacto-contenido {
    text-align: center;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacto h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contacto p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.comment-box {
    margin-top: 20px;
}

.comment-form {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

textarea, input[type="email"] {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* MAPA */
.mapa-conteiner {
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow:hidden;
    padding-bottom: 20px;
}
/* SECCION 6 QUIEN SOMOS */
.quienes-somos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quienes-somos .contenido {
    margin-bottom: 20px;
}

.quienes-somos h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.quienes-somos p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.quienes-somos .imagen img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Responsivo */
@media screen and (max-width: 1024px) {
    header {
        padding: 10px 5vh;
    }

    .seccion1 {
        flex-direction: column;
    }

    .seccion1 img {
        height: auto;
        max-height: 400px;
    }

    .services-container {
        flex-wrap: wrap;
    }

    .service-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .header{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr ;
    }
    .main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr ;
}
}