header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-bg;
  color: $white;
  padding: 10px 20vh;

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-left: 20px;

        a {
          color: $white;
          text-decoration: none;
          padding: 10px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #555;
          }
        }
      }
    }
  }
}